.footer-section{
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
    
}

.footer-section h5{
    color: #333;
    font-size: larger ;
    font-weight: 700;
    font-family: Gill Sans;
    text-decoration: underline;
    padding-bottom:10px ;
}

.footer-section p{
    font-family: Gill Sans MT;
    font-weight: 300;
}

.footer-section i{
    padding-right: 10px;
}

.footer-section a{
    color: black;
}

.footer-section .calling{
    color: rgb(58, 58, 45);
    font-size: larger;

}

.footer-section .copy-right-content li{
    padding-left: 30px;
    font-family: Gill Sans;
     content: "|";
    position: relative;
}

.footer-section .copy-right-content .company-name{
    color: darkred;
    font-weight: 700;
    font-size: large;
}

.scroll-top{
    size: 400%;
    position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 99;
  cursor: pointer;
  width: 2.7rem;
  height: 2.7rem;
  line-height: 3rem;
  text-align: center;
  background-color: red;
  border-radius: 20%;
}

.scroll-top i{
    font-weight: 600;
    text-align: center;
    font-size: 1.4rem;
    color: white;
}

.scroll-top:hover{
    background-color: red;
    color: white;
}
