.hero_section {
    position: relative;
    background: url('../assets/hero/hero-1.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 170px;
    padding-bottom: 90px;
}

.hero_section .price_badge {
    background: url('../assets/hero/price-badge-yellow.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: -50px;
    right: 5px;
    width: 180px;
    height: 176px;
    text-align: center;
}

.hero_section .badge_text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.hero_section .badge_text .h4_xs {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 1;

}

.hero_section .badge_text .h3_lg {
    font-size: 2.875rem;
    font-weight: 600;
    line-height: 1;
}

.hero_section .hero_text h3 {
    font-family: Lucida Sans;
    font-size: 7rem;
    line-height: 1;
    margin-bottom: 15px;
    letter-spacing: 5px;
}

.hero_section .hero_text h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.hero_section .hero_text p {
    padding: 0.5%;
}



/* About Section2 css */

.about_section {
    padding-top: 80px;
    padding-bottom: 300px;
    background: url('../assets/about/about-1.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;

}

.about_section h2 {
    font-size: 3.5rem;
}

.about_section p {
    color: gray;
    padding: 20px 30px;
    font-size: 19px;
}

.about-wrapper {
    background: yellow;
    padding-top: 70px;
    padding-bottom: 30px;
}

.about_box .about_icon {
    max-width: 25%;

}

.about_box h4 {
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0.5008px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.about_box p {
    font-size: 18px;
    line-height: 1.5;
    color: gray;
    padding: 0 20px;
}

/* -------------------------------------------------------------------------------------- */
/* Section 3 */
.menu_section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.menu_section .card-img-top {
    transition: all 500ms ease-in-out;
}

.menu_section h2 {
    font-size: 3.5rem;
    color: red;
}

.menu_section .para {
    color: gray;
    padding: 10px 100px;
    font-size: 19px;
}

.menu_section .item_rating i {
    color: yellow;
    padding-right: 5px;
}

.menu_section .wishlist {
    color: gray;
    font-size: 20px;
    cursor: pointer;
}

.menu_section .wishlist:hover {
    color: red;
}

.menu_section .card-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.menu_section .card-text {
    color: gray;
    font-size: 15px;
}

.menu_section .menu_price {
    background-color: #ac6653;
    display: inline-block;
    padding: 7px 12px;
    border-radius: 4px;
}

.menu_section .menu_price h5 {
    color: yellow;
    font-size: 1rem;
}

.menu_section .add_to_cart {

    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    padding: 8px 14px;
    border-radius: 4px;
    opacity: 0;
    transform: translateY(100px);
    transition: all 500ms ease-in-out;
}

.menu_section .card:hover .card-img-top {
    transform: scale(1.1);
}

.menu_section .card:hover .add_to_cart {
    opacity: 1;
    transform: translateY(0);
}

.menu_section .ads_box {
    text-align: right;
    padding: 80px 35px 50px;
    border-radius: 6px;
}

.menu_section .ads_img1 {
    background: url('../assets/menu/ads-1.jpg') no-repeat center center;
    background-size: cover;
}

.menu_section .ads_img2 {
    background: url('../assets/menu/ads-2.jpg') no-repeat center center;
    background-size: cover;
}

.menu_section .ads_box h4 {
    font-size: 2.25rem;
    font-weight: 300;
    color: rgb(175, 97, 66);

}

.menu_section .ads_box h5 {
    font-size: 2.375rem;
    color: rgb(175, 97, 66);
}

.menu_section .ads_box a {
    margin-top: 15px;
    font-size: 18px;

}


/*Section 4  */
.promotion_section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: lightgray;

}

.promotion_section h2 {
    font-size: 2.7rem;
    margin-bottom: 25px;
}

.promotion_section p {
    font-size: 1.125rem;

}

.promotion_section ul {
    padding-left: 15px;
}

.bg-parellex {
    background: url('../assets/parallax/bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 700%;
}


/* Section 5  Home Shop */
.shop_section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: yellow;

}

.shop_section h4 {
    font-size: 2.375rem;
    font-weight: 400;
    color: chocolate;

}

.shop_section h2 {
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: -1px;
    color: chocolate;
}

.shop_section p {
    font-size: 1.125rem;
    color: chocolate;
    padding-right: 10px;
    margin-bottom: 40px;

}

.shop_section .store {
    max-width: 40%;
}

.shop_section .e-shop {
    text-align: center;

}

.brand-section {
    padding: 70px 0 40px;
    background-color: lightgray;
    overflow: hidden;

}

.brand-section .brand_img {
    width: 100%;
    height: auto;
}

.carousel.slide .carousel-inner {
    overflow: unset;

}

.carousel.slide .carousel-inner .carousel-caption {
    position: relative;
    right: unset;
    left: unset;
}













@media(max-width:1200px) {
    .promotion_section h2 {
        font-size: 2.756rem;
    }
}











@media(max-width:767px) {

    .hero_section .hero_text {
        font-size: 5.5rem;
    }
}

@media(max-width:992px) {
    .about_section h2 {
        font-size: 2.5rem;
    }

    .about_section p {
        font-size: 1rem;
        padding: 10px 0px;
    }

    .about_box p {
        padding: 0 0px;
    }

    /* home shop */
    .shop_section h2 {
        font-size: 3.75rem;
    }

    .shop_section p {
        font-size: 1rem;
    }

    .shop_section .h4 {
        font-size: 1.8rem;
    }

    .brand-section {
        padding: 50px 0 10px;
    }

    .brand-section h2 {
        font-size: 3.75rem;
    }

    .brand-section .brand_img {

        width: 70%;
        height: auto;
    }
}
    @media (max-width: 575px) {
        .hero_section .hero_text {
            font-size: 4.5rem;
            padding: 0%;
        }

        .hero_section .badge_text .h4_xs {
            font-size: 1.5rem;
        }

        .hero_section .badge_text .h3_lg {
            font-size: 2.5rem;
        }

        .hero_section .hero_text h2 {
            font-size: 1.5rem;
        }

        .hero_section .hero_text p {
            font-size: 1rem;
        }

        .about_section h2 {
            font-size: 2.5rem;
        }

        .about_section p {
            font-size: 1rem;
        }

        .about_box h4 {
            font-size: 1.5rem;
        }

        .about_box p {
            font-size: 1rem;
        }
    }